h1{
    text-align: center;
    padding: 0px;
    margin: 10px;
    font-family: cursive;
    color: hsl(240, 88%, 49%);
}
table, th, td{
    border: 2px solid rebeccapurple;
    border-collapse: collapse;
}
table{
    width: 100%;
}
th{
    text-transform: uppercase;
    background-color: hsl(240, 70%, 70%);
}
td{
    display: table-cell;
    vertical-align: flex;
    padding: 5px;
    text-align: left;

}
.value{
    color: hsl(240, 50%, 30%);
    text-transform: uppercase;
    white-space: nowrap;
    width: 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.description{
    color: hsl(240, 700%, 20%);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
}